# Python #
##########
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.egg-info/
*.egg
*.log
*.pot
*.pyc
*.db
*.db-journal
.Python

# Directories #
###############
db.sqlite3
media/

# Files #
#########
*.sqlite3

# Logs #
########
logs/
*.log

# Environment #
###############
.env

# OS #
#####
.DS_Store
Desktop.ini
Thumbs.db

# IDE #
######
.vscode/
.idea/
*.iml
*.iws
*.swo
*.swp
*.swn
*.swm
*.swl

# Other #
########
*.bak
*.swp
*~
*#
.#*
*.#
